# Neo4j configurations
# root username "neo4j"
NEO4J_INITDB_ROOT_PASSWORD=example
NEO4J_INITIAL_HEAP_SIZE=1G
NEO4J_MAX_HEAP_SIZE=2G
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_CONTAINER_NAME=inpoint_neo4j

# Ai back-end configurations.
AI_BACKEND_SERVER_PORT=1337
AI_BACKEND_NUMBER_OF_WORKERS=5
AI_BACKEND_CONTAINER_NAME=inpoint_ai_backend

# SET TO 1 (ONE) ONLY FOR DEVELOPMENT PURPOSES!
AI_BACKEND_RELOAD=1